/* Custom CSS styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Add your custom styles here */
.banner {
    background-color: #007acc;
    color: #fff;
}

.btn-clear {
    background-color: #007acc;
    color: #fff;
}

/* Add more custom styles as needed */
